<footer class="bg--dark footer-4">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-4">
              <img alt="logo" class="logo" src="/assets/img/logo_large.png">
              <p><em>FFA, Lifeboats, Liferafts and Automation </em></p>
              <ul class="footer__navigation">
                  <li class="vpe">
                      <a href="/"><span>Home</span></a>
                  </li>
                  <li class="vpe">
                      <a href="/company"><span>Company</span></a>
                  </li>
                  <li class="vpe">
                      <a href="/services"><span>Services</span></a>
                  </li>
                  <li class="vpe">
                      <a href="/products"><span>Products</span></a>
                  </li>
                  <li class="vpe">
                      <a href="/contact"><span>Contact</span></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 col-sm-8">

          </div>
          <div class="col-md-4 col-md-offset-1 col-sm-12">
              <h6>Subscribe</h6>
              <p>Get regular updates from us</p>
              <form action="http://mrareco.createsend.com/t/d/s/kieth/" class="form--merge form--no-labels" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email." id="subForm" method="post" name="subForm">
                  <p><label for="fieldEmail">Email Address</label><br>
                  <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" required="" type="email"></p>
                  <p><button type="submit">Go</button></p>
              </form>
              <h6>Follow Us </h6>
              <ul class="social-list">
                  <li class="vpe">
                      <a href="#"><i class="socicon-facebook"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer__lower">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 text-center-xs">
                  <span class="type--fine-print">© Copyright
                  <span class="update-year">{{ 'now' | date: "%Y" }}</span> Louis Safety - All
                  Rights Reserved</span>
              </div>
              <div class="col-sm-6 text-right text-center-xs">
                  <a class="inner-link top-link" href="#top"><i class="interface-up-open-big"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>
