
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>

		<div class="nav-container">
			<nav class="simple-bar top-bar">
				<div class="container">


					<div class="row nav-menu">
						<div class="col-md-3 col-sm-3 columns">
              <a href="/">
							         <img class="logo logo-light" alt="Logo" src="/img/logo-light.png">
                       <img class="logo logo-dark" alt="Logo" src="/img/louis_safety_logo.png">
              </a>
						</div>

						<div class="col-md-8 col-sm-8 columns text-right">
							<ul class="menu">
                <li><a href="/"> Home </a></li>
                <li class="has-dropdown"><a href="#">Services</a>
                  <ul class="subnav">
                    <li><a href="/services/ffa">Fire Fighting Appliances</a></li>
                    <li><a href="/services/liferafts">Liferafts</a></li>
                    <li><a href="/services/lifeboats">Lifeboats</a></li>
                    <li><a href="/services/automation">Automation & Calibrations</a></li>

                  </ul>
                </li>
                <li><a href="/products"> Products </a></li>
                <li><a href="/company"> Company </a></li>
                <li><a href="/careers"> Careers </a></li>
                <li><a href="/contact"> Contact </a></li>


							</ul>
						</div>

            <div class="col-md-1 col-sm-1 columns">
              <div class="fb-like" data-href="https://www.facebook.com/Louis-Safety-770094853131446/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>

					</div>

					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>

				</div>
			</nav>

		</div>
