<div class="nav-container">
    <nav>
        <div class="nav-bar" data-fixed-at="700">
            <div class="nav-module logo-module left">
                <a href="index.html"><img alt="logo" class="logo logo-dark" src="/assets/img/ls_logo.png"> <img alt="logo" class="logo logo-light" src="img/logo-light.png"></a>
            </div>
            <div class="nav-module menu-module left">
                <ul class="menu">
                    <li class="vpe">
                        <a href="#">Home</a>
                    </li>
                    <li class="vpe">
                        <a href="#">Company</a>
                    </li>
                    <li class="vpe">
                        <a href="#">Services</a>
                    </li>
                    <li class="vpe">
                        <a href="#">Products</a>
                    </li>
                    <li class="vpe">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-mobile-toggle visible-sm visible-xs">
            <i class="icon-Align-JustifyAll icon icon--sm"></i>
        </div>
    </nav>
</div>
