<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="{{ "/assets/js/jquery-2.1.4.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/twitterfetcher.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/smooth-scroll.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scrollreveal.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/parallax.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>
    
  </body>
</html>
